<!DOCTYPE html>
<html
  lang="en"
  {{ with .Page.Params.html_class }}
  class="{{- . -}}"  {{ end }}
  {{ with .Page.Params.data_theme }}
  data-theme="{{- . -}}" {{ end }}
  {{ with .Page.Params.data_mode }}
  data-mode="{{- . -}}" {{- end }}
  {{ with .Page.Params.data_bs_theme }}
  data-bs-theme="{{- . -}}" {{ end }}>
  <head>
    {{- partial "_meta.html" . -}}
    {{- partial "_styles.html" . -}}
  </head>
  <body {{ with .Page.Params.body_class }} class="{{- . -}}" {{ end }} data-body-id="{{- .Title | urlize | lower -}}">
    {{ if not .Params.disableNavbar }}
    {{- partial "nav.html" . -}}
    {{ end }}
    {{- block "body" . -}} {{- block "main" . -}} {{- end -}} {{- end -}}
    <script src="/js/popover.js" defer fetchpriority="low"></script>
  </body>
</html>
